*{border: 1px solid red;}
.box{ width: 100px;}

/* display : flex; 기본선언후 사용 */
.flexbox1{ 
    display: flex;  /* 하위 요소들 배치하는 방법 */
    width: 250px;
    /* 하위요소들의 크기가 구역보다 커지면 자동크기조정 */
    flex-wrap:  nowrap; /* 자동크기 부여 (기본값), wrap:자동줄바꿈 처리 */
}

.flexbox2{
    display: flex; width: 250px;
    /* 하위요소들의 크기가 구역보다 커지면 자동 줄바꿈 */
    flex-wrap: wrap;
}

.flexbox3{
    display: flex;
    flex-direction: row; /* 가로배치 하위요소  row기본값 (생략시) */
}

.flexbox4{
    display: flex;
    flex-direction: column; /* 세로배치 하위요소*/
}

.flexbox5{
    display: flex;
    justify-content: flex-start; /* 하위요소들 가로 정렬 (기본값)왼쪽 */
}

.flexbox6{
    display: flex;
    justify-content: flex-end; /* 가로정렬 오른쪽  */
}

.flexbox7{
    display: flex;
    justify-content: center; /* 가로정렬 중앙  */
}

.flexbox8{
    display: flex;
    justify-content: space-between; /* 양쪽 여백 균등 정렬  */
}

.flexbox9{
    display: flex;
    justify-content: space-evenly; /* 양쪽/사이 여백 균등 정렬  */
}

.flexbox10{
    display: flex;
    gap: 20px; /* 사이 여백 직접 설정  */
}

.flexbox11{
    width: 250px; flex-wrap: wrap;
    display: flex;
    gap: 10px 20px; /* 세로여백 가로여백  */
}