
.전체구역{
    border-left: solid 1px white;
    border-right: solid 1px white;
    border-bottom: solid 1px  white;
    border-radius: 3px 3px 7px 7px;
    text-align: center;
    margin: 0 auto;
    width: 400px;
    height: 350px;

    box-shadow: 2px 2px 5px pink;
    padding: 50px;

}

.로그인{
    margin: 50px 100px;
}

.id{
    border: solid 1px gray;
    border-radius: 10px;
    height: 30px;
    margin-bottom: 20px;
    padding: 3px;


}
.pw{
    border: solid 1px gray;
    border-radius: 10px;
    height: 30px;
    margin-bottom: 20px;
    padding: 3px;
}
.log{
    background-color: blue;
    color: white;
    margin: 10px;
    border-radius: 10px;
    border: solid 1px black;
    height: 30px;
    width: 80px;
}
.아래구역{
    margin: 15px;

}
.회원가입{
    color: blue;
}