
.전체구역{
    border-left: solid 1px white;
    border-right: solid 1px white;
    border-bottom: solid 1px  white;
    border-radius: 3px 3px 7px 7px;
    text-align: center;
    margin: 10px auto;
    width: 400px;
    height: 350px;

    box-shadow: 
        -3px 0 0.01px rgba(255, 0, 0, 0.3), 
        3px 0 0.01px rgba(255, 0, 0, 0.3), 
        0 3px 0.01px rgba(255, 0, 0, 0.3);

}

.로그인{
    margin: 50px 100px;
}

.id{
    border: solid 1px black;
    border-radius: 5px 5px 5px 5px;
    height: 30px;
    margin: 5px;


}
.pw{
    border: solid 1px black;
    border-radius: 5px 5px 5px 5px;
    height: 30px;
    margin: 5px;
}
.log{
    background-color: blue;
    color: white;
    margin: 10px;
    border-radius: 5px 5px 5px 5px;
    border: solid 1px black;
    height: 30px;
    width: 80px;
}
.아래구역{
    margin: 15px;

}
.회원가입{
    color: blue;
}