
.imgBox{
    width: 300px; height: 300px;  /* 이미지가 커서 사이즈 벗어남*/
    border: 1px solid red; margin-bottom: 20px;
    
}
/* width 설정하지 않으면 자동으로 기본값100%, 이미지/비디오 제외 원본 크기 */
.imgBox > img{
    width: 100%; height: 100%;/*세로설정시 비유 깨짐*/ }

/* 이미지 경우 가로세로 사이즈 설정하면 비율이 깨짐 */
.img1{object-fit: fill;} /* (기본값) 영역채움/비율무시*/
.img2{object-fit: contain;} /* 전체영역이 보이도록 비율 유지 */
.img3{object-fit: cover;} /* 영역을 채우면서 비율 유지, 일부 짤림*/
.img4{object-fit: none;} /* 이미지 사이즈 조정없이 그대로 출력 (여백 및 짤림 발생) */
.img5{object-fit: cover; object-position: right;}  /* 짤린 부분 이동 가능 왼오위아 */
.img6{object-fit: contain; object-position: left;} 
/* 이미지 구역을 만들고 그안에 이미지를 넣고 object로 비율을 잡는다 */
















