*{border: 1px solid red;}
/*  기본 설정 */
*{box-sizing: border-box; padding: 0px; margin: 0px;}
a{ text-decoration: none; color: black; }
li{ list-style-type: none; }

body{ width: 1280px;}

/* top_header_menu */
.top_header_menu{
    display: flex;
    justify-content: end;
    gap: 20px;
    font-size: 12px;
    padding-right: 10px;
    align-items: center;
    border-bottom: 1px solid #dbdbdb ;
    padding-top: 5px;
    padding-bottom: 5px;
}
.top_header_menu > li { 
    border-right: solid 1px black ; 
    padding-right: 10px;
}

/* main header_menu */
.header_main_menu{
    display: flex;
    font-size: 12px;
    padding: 20px 0;
    gap: 35px;
    align-items: center;
    justify-content: center;
}
.logo_img{width: 155px;}
.search_img{ width: 15px; height: 15px;}

/* 스크롤시 header 메뉴 고정 */
.header_menu{
    position: sticky;
    top: 0px;
    background-color: white; opacity : 0.8; /* 투명도 */
}

/* ========================================================== */
/*메인 이미지*/
.main_img{ width: 100%;}
/*================================================*/

/* main content */
.main_title{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}
.main_comment{
    text-align: center;
    margin-top: 20px;
    font-size: 10px;
    color: #9999;
}