

*{box-sizing: border-box; padding: 0px; margin: 0px;}
a{ text-decoration: none; color: black; }
li{ list-style-type: none; }

#header{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_menu{
    display: flex;
    justify-content: end;
    margin: 10px 0px;
}
.main_menu{
    display: flex;
    justify-content: end;
    margin: 20px 0px;
}
.top_menu > li{
    margin-left: 15px;
}
.main_menu > li{
    margin-left: 45px;
    font-size: 25px;
    font-weight: bold;
}
.img_main_bg{ width: 100%;}
/*===========================================================*/

/*푸터=======================================*/
/* *{
    border: 1px solid rebeccapurple;
} */

#header{
    width: 1280px;
    margin: 0 auto; /* 구역 가운데 정렬 */
}

#main{
    width: 1280px;
    margin: 0 auto;
}

/* 자주 사용되는 기본CSS */
*{
    box-sizing: border-box; /* content + heading 포함 사이즈 정의 */
    padding: 0px; margin: 0px; /* 기본 여백 제거 */
}
a{
    text-decoration: none; /* a하이퍼링크 밑줄 제거 */
    color: black; /* a하이퍼링크 색상 검정 */
}
li{
    list-style-type: none; /* li 항목 글머리 제거 */
}

#footer{ 
    background-color: #1d334c;
    color: white;
}

.footer1 > ol{
    display: flex;
    gap: 30px;
    margin-left: 80px;
    margin-bottom: 50px;
}


.footer_bottom{
    display: flex;
    justify-content: center;
    
}

.footer2{
    padding-right: 200px;
}
.footer3{
    padding-right: 200px;
    margin-bottom: 20px;
}.footer4{
    padding-right: 200px;
}